.container {
  flex-direction: column;
  justify-content: center;
}
.picture {
  transition: transform 0.2s;
}
.picture:hover {
  transform: scale(1.1);
  cursor: pointer;
}
body {
  background-color: grey;
}
