<link
  rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
/>
<link rel="stylesheet" href="/styles/sidebar.css" />

<!-- SIDEBAR -->
<div id="sidebar" class="sidebar">
  <a href="#" class="close-btn" onclick="closeSidebar()"
    ><i class="bx bx-x"></i
  ></a>
  <!-- Sidebar content goes here -->
  <h3 class="text-center">Cart</h3>
  <ul id="cart-items">
    <!-- Cart items will be added here dynamically -->
  </ul>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="/scripts/sidebar.js"></script>
